<template>
    <div v-if="isLoading">Загрузка...</div>
    <ul v-else>
        <li v-for="item in results" :key="item.id">
            <span :class="{'bg-danger': !item.is_success, 'bg-success': item.is_success}" class="badge">
                {{ item.is_success ? 'OK' : 'ERROR' }}
            </span>
            {{ item.status_code }}
            {{ item.created_at }}
        </li>
    </ul>
</template>

<script>
export default {
    name: "SiteHistory",
    data() {
        return {
            siteId: window.siteId,
            results: [],
            isLoading: false,
        };
    },
    methods: {
        load() {
            this.isLoading = true;
            fetch(`/api/sites/${this.siteId}/history/`)
                .then((response) => {
                    return response.json()
                })
                .then((data) => {
                    this.results = data;
                    this.isLoading = false;
                });
        }
    },
    created() {
        this.load();
    }
}
</script>

<style scoped>
@import 'http://localhost:8000/static/web/css/bootstrap.min.css';
</style>
