{% if user.avatar %}
    <img src="{{ user.avatar.url }}" alt="" width="100">
{% endif %}
<p>Вы вошли как {{ user.email }}</p>

<p>
    <a href="{% url 'login-telegram' %}" target="_blank">
        Привязать Telegram-аккаунт
    </a>
</p>
