<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Система проверки сайтов</h1>
    <ul>
        {% for site_url, site_status in sites_status_dict.items %}
            <li>
                <b>{{ site_url }}</b> теперь {% if not site_status %}не {% endif %}доступен
            </li>
        {% endfor %}
    </ul>
</body>
</html>
