{% extends 'web/base.html' %}
{% block title %}Ваши сайты{% endblock %}
{% block content %}
    <h1>Ваши сайты</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Адрес</th>
                <th>Почта пользователя</th>
                <th>История проверки</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for site in object_list %}
                <tr class="{% if site.status %}table-success{% else %}table-danger{% endif %}">
                    <td>{{ site.id }}</td>
                    <td>{{ site.name }}</td>
                    <td>{{ site.url }}</td>
                    <td>{{ site.user.email }}</td>
                    <td>
                        <ul>
                            {% for history in site.history.all %}
                                <li>
                                    <small>
                                        {{ history.created_at|date:'d-m-Y H:i' }} -
                                        {{ history.status_code }}
                                    </small>
                                </li>

                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <a href="{% url 'site' site.id %}" class="btn btn-outline-secondary">Открыть</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        Предыдущая
                    </a>
                </li>
            {% endif %}
            <li class="page-item disabled">
                <span class="page-link">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                </span>
            </li>
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        Следующая
                    </a>
                </li>
            {% endif  %}
        </ul>
    </nav>

{% endblock %}
