{% extends 'web/base.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'web/css/djangoForm.min.css' %}">
{% endblock %}
{% block title %}Регистрация{% endblock %}
{% block content %}
    <h1>Регистрация</h1>
    <form action="" method="post" enctype="multipart/form-data" class="djangoForm">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Зарегистрироваться</button>
    </form>
{% endblock %}
