<template>
    <input v-model="siteId" type="number" placeholder="ID сайта">
    <SiteHistory v-if="siteId !== null && siteId !== ''" :site-id="siteId" />
    <div v-else>Введите ID сайта</div>
    <hr>
    <MyForm/>
    <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App 222"/>
    <h3>H3 in App component</h3>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import MyForm from './components/MyForm.vue';
import SiteHistory from "@/components/SiteHistory";

export default {
    name: 'App',
    components: {
        SiteHistory,
        HelloWorld,
        MyForm
    },
    data() {
        return {
            siteId: null
        };
    }
}
</script>

<style>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
</style>
